/*calling_popup CSS*/
#calling_popup {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #383838; 
    position: fixed;
    height: auto;
    box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.5);
    z-index: 1000;
    width: 740px;
  }
  .calling_rightside_text {
    position: absolute;
    display: grid;
    text-align: center;
    top: 30px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
}
.calling_forminput_style {
    top: 95px;
    margin: 10px 0 20px 10px;
    position: relative;
    width: 96%;
    box-shadow: 7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    padding: 4px 5px;
}
.calling_submit_button {
    position: relative;
    background: #0a0909;
    color: white;
    padding: 2px 12px;
    font-size: 20px;
    font-weight: 400;
    top: 110px;
    left: 120px;
    border: 0;
}

/* For Thank you Modal Styling */
#thankyou {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    position: fixed;
    width: 650px;
    height: auto;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.5);
    z-index: 1000;
    color: white;
}
#thankyou .message {
    color: #fff;
    font-size: 25px;
}
#thankyou .title {
    color: #fff;
    font-size: 25px;
}
#thank_app {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    position: fixed;
    width: 650px;
    height: auto;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.5);
    z-index: 1000;
    color: white;
}
#thank_app .message {
    color: #fff;
    font-size: 25px;
}
#thank_app .title {
    color: #fff;
    font-size: 25px;
}
.call_title {
    font-size: 25px;
    margin: 0 0 10px 0;
    color: #3e3c3c;
}
/*--thank you pop starts here--*/
.thank-you-pop img{
	width:76px;
	height:auto; 
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
} 
/*--thank you pop ends here--*/

/* Calling Material Form CSS Start*/
/* For Input Fields CSS*/
.form_inputs_call {
    position: relative;
    top: 100px;
    left: 64px;
    margin-bottom: 15px;
}
.MuiOutlinedInput-input {
    padding: 15.5px 14px !important;
}
.call_formButton {
    position: absolute;
    background: #0a0909;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    left: 125px;
    border: 0;
    bottom: 30px;
    z-index: 9999;
}
.MuiButton-root {
    color: #fff !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
}
.MuiFormHelperText-root {
    margin: 0 !important;
    font-size: 0.75rem;
    margin-top: 2px !important;
    line-height: 1 !important;
    letter-spacing: 0.03333em !important;
}
div#backdrop_div {
    display: none;
  }
  /* Calling Matrial Form CSS End*/