/*Estimate Popup CSS Styling*/
.estimate_forminput_style {
    top: 70px;
    position: relative;
    width: 96%;
    box-shadow: 7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    padding: 3px 0px 3px 1px;
}
/*Estimate Form CSS Styling*/ 
.form-group {
    margin-bottom: 0.5rem;
    display: inline-block;
}
.Dropdown-control {
    border: 0 !important;
}
.estimate_forminput_style_drops{
    top: 70px;
    position: relative;
    width: 48%;
    box-shadow: 7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    padding: 3px 0px 3px 1px;
    margin-bottom: 5px;
    margin-top: 2px;
    display: inline-block;
    margin-right: 5px;
}.floor_text {
    position: relative;
    top: 57px;
    font-size: 15px;
    font-weight: 400;
}
.multiple_dropStyle {
    display: flex;
    padding: 0 0 0 0;
}
.submit_button_estimate {
    position: absolute;
    background: #0a0909;
    color: white;
    padding: 2px 12px;
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    left: 137px;
    border: 0;
    bottom: 3px;
}
.radio_dem {
    position: relative;
    display: inline-block;
    padding-left: 1.25rem;
    margin-right: 25px;
}
._7ahQImyV4dj0EpcNOjnwA {
    padding: 4px 8px !important;
}
.rightside_text_next {
  position: absolute;
  display: grid;
  font-size: 16px;
  font-weight: 400;
  top: 190px;
}
.check_floor {
    position: relative;
    display: block;
    padding-left: 33px;
}
.date_text {
    position: relative;
    top: 10px;
}
.datepicker_style {
    position: relative;
    top: -14px;
    left: 40px;
    width: 52%;
}
.submit_button_esti {
    position: relative; 
    background: #0a0909;
    color: white;
    padding: 2px 12px;
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    left: 137px;
    border: 0;
    /* bottom: 3px; */
    top: 82px;
}
.timepicker_style {
    position: relative;
    top: -29px;
    left: 40px;
    width: 52%;
}
.time_text {
    position: relative;
    top: 0;
}
select {
    word-wrap: normal;
    border: 0;
    width: 100%;
}
select:focus {
    outline: none;
}

/*Estimate Form CSS Start*/
.form_inputs_estimate {
    position: relative;
    top: 65px;
    left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 47%;
    margin-right: 10px;
}
.MuiOutlinedInput-input {
    padding: 12px 10px !important;
}
.MuiSelect-select {
    min-width: 140px !important;
}
label + .MuiInput-formControl {
    margin-top: 9px !important;
}
.MuiFormLabel-root {
    line-height: 0.5 !important;
}
.MuiFormGroup-root.multiple_dropStyle {
    display: inline-block !important;
    width: 100%;
}
label {
    margin-bottom: 0 !important;
}
.MuiFormControlLabel-root {
    margin-right: 0 !important;
    margin-bottom: -12px !important;
}
.MuiCheckbox-colorSecondary.Mui-checked {
    color: #2f5aca !important;
}
.MuiRadio-colorSecondary.Mui-checked {
    color: #2f5aca !important;
}
input[type="checkbox" i] {
    margin: 3px 0px 3px 0px !important;
}
.estimate_formButton{
    position: absolute;
    background: #0a0909;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    left: 125px;
    border: 0;
    bottom: 5px;
    z-index: 1;
}
div#backdrop_estimate_div {
    display: none;
  }
  div#backdrop_estimate_div_submit {
    display: none;
  }
  /* Estimate Second form CSS Start*/
  .MuiFormGroup-root.build_before_radio {
    display: block;
}
.build_before_radio_margin {
    margin-right: 10px !important;
}
.floor_text_next {
    position: relative;
    top: 52px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}
.floor_text {
    position: relative;
    top: 60px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}
.MuiTypography-body1 {
    margin-right: 10px !important;
}
.MuiTypography-body1 {
    font-size: 15px !important;
    line-height: 0 !important;
    letter-spacing: 0 !important;
}
.PrivateSwitchBase-root-162 {
    padding: 5px !important;
}
.form-control {
    width: 97% !important;
}
.error_message {
    margin-top: 3px;
    margin-bottom: -14px;
    color: #f44336;
}

.jss162 {
    padding: 6px;
}