body { 
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
/* For Schedule Appointment Modal Styling */
  #schedule_appointment {
    display: none; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #383838;
    position: fixed;
    height: auto;
    box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 1);
    z-index: 1000;
    width: 100% !important;
    max-width: 740px;
  }
/* For Main Modal Styling */
#winner {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #383838;
    position: fixed;
    height: auto;
    box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 1);
    z-index: 1000;
    width: 100% !important;
    max-width: 740px;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
  } 
  /* For Leftside Calling Image Styling */
  img.caller_img {
    height: 438px;
    width: 100%;
    object-fit: cover;
  }
/* For Main Modal CLose Styling */
  button.close {
    padding: 0 5px 0 0 !important;
    border: 0 !important;
  }
  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0 !important;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background-color: white;
  }
  .close_button {
    position: relative;
    top: 6px;
  }
  .close_button_text {
    color: white;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
  }
  button:focus {
    outline: none !important;
  }
  /* For Leftside Schedule Button BG Styling */
  button.schedule_button {
    position: absolute;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    background: transparent;
    background-color: #000000c2;
    border: 0;
    color: white;
    padding: 4px;
    bottom: 0;
  }
  .leftside {
    position: relative;
  }
/* For Leftside Call Button BG Styling */
  button.chat_button {
    position: absolute;
    bottom: 5px;
    left: 27px;
    background-color: #6e48aad9;
    padding: 8px 0;
    font-size: 15px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    width: 85%;
  }
  /* For Chatboat Styling */
  .chatboat_style {
    background-color: white;
    height: 85%;
    width: 100%;
    padding: 10px;
    position: relative;
    margin: 20px 0px 0 0;
  }
  .chat_content {
    font-size: 14px;
    font-weight: 500;
    margin: 1em 0px;
    text-align: justify;
    font-family: arial;
    line-height: normal;
  }
  .chatside {
    padding: 0 !important;
  }
/* Form Styling */
  input.input_style {
    position: relative;
    width: 100%;
    margin-top: 7px;
  }
  .formside_style{
    background-color: white;
    height: 417px;
    width: 100%;
    padding: 10px;
    position: relative;
    margin: 20px 0 0 0;
  }
  .rightside_text {
    position: absolute;
    display: grid;
    text-align: center;
    top: 5px;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    font-family: cursive;
  }
  .forminput_style {
    top: 50px;
    margin: 10px 0 5px 10px;
    position: relative;
    width: 96%;
    box-shadow: 7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0;
  }
  span.rightside_textbelow {
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
  }
  .floortext_style {
    top: 65px;
    position: relative;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    /* font-family: arial; */
  }
  .form-check {
    position: relative;
    top: 70px;
    font-size: 15px;
  }
  .floor_top {
    position: relative;
    top: 25px;
    font-size: 15px;
  }
  .floor_texting {
    position: relative;
    top: 26px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .floor_texting {
    position: relative;
    top: 55px;
    font-size: 16px;
    font-weight: 400;
  }
  .col-md-3.rightside_checkbox {
    max-width: 100%;
    left: 20px;
    top: 30px;
  }
  .col-md-3.leftside_checkbox {
    max-width: 100%;
    left: 20px;
    top: 30px;
  }
  .submit_button {
    position: relative;
    background: #0a0909;
    color: white;
    padding: 2px 12px;
    font-size: 20px;
    font-weight: 400;
    top: 80px;
    left: 112px;
    border:0;
  }
  a:hover {
    color:#fff !important;
    text-decoration: none !important;
    background-color: transparent !important;
  }
  a {
    color: #fff !important;
    text-decoration: none !important;
    background-color: transparent !important;
  }
  /* Form Send Button Styling */
  button.send_button {
    position: absolute;
    background: #0a0909;
    color: white;
    padding: 2px 12px;
    font-size: 15px;
    font-weight: 700;
    right: 0;
    bottom: 9px;
  }
  /* Call Button Styling */
  button.call_button {
    position: absolute;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
    background: transparent;
    background-color: #000000c2;
    border: 0;
    color: white;
    padding: 8px;
  }

  /* Call Button Image Styling */
  img.call_image_style {
    position: relative;
    width: 20px;
    height: auto;
    padding: 0; 
    margin: 5px 5px 5px 0;
  }
 /* Rightside Form Styling */
  .right_formside{
    padding: 0 !important;
  }
/* Rightside Chat Styling */
  .col-md-6.chatside {
    position: relative;
    margin: 18px 0 0 0;
  }
/* Custom Chatboat Styling */
  .rsc-container  {
    width: 375px !important;
    height: auto !important;
    border-radius: 0 !important;
    font-family: inherit !important;
    line-height: inherit !important;
    margin: 20px 0 0 0 !important;
  }
  .rsc-content  {
    height: calc(520px - 228px) !important;
  }
  .rsc-header {
    background-color: #2f5aca !important;
  }
  .rsc-ts-bubble  {
    background-color: #2f5aca !important;
    color: white !important;
  }
  .rsc-os-option-element  {
    background-color: #2f5aca !important;
    color: white !important;
  }
/* Background Blur Styling */
.overlay_div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.4); /* Fallback color Black w/ opacity */
}